[defaults]
inventory = ./aws_ec2.yml
# Trỏ đúng đến file .pem bạn đã tải về từ AWS
private_key_file = ../newKeyPair.pem 
remote_user = ubuntu
host_key_checking = False
[inventory]
enable_plugins = amazon.aws.aws_ec2, yaml, ini
[ssh_connection]
ssh_args = -o ControlMaster=no